!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", http: { equiv: "Content-Type" }}
    %title Chat Space
    %link{ rel: "stylesheet", href: "stylesheets/application.css" }

  %body
    %h1
      This is Layout.haml
      -# - if notice
      -#   %p.alert.alert--notice
      -#     = notice
      -# - if alert
      -#   %p.alert.alert--error
      -#     = alert

    = yield
