.alert {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: $font_white;

  &--notice {
    background-color: $bg_light_blue;
  }

  &--error {
    background-color: $bg_light_red; 
  }
}

