/*!
  * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
  * http://cssreset.com
  * Copyright 2012 Yahoo! Inc. All rights reserved.
  * http://yuilibrary.com/license/
*/
/*
  TODO will need to remove settings on HTML since we can't namespace it.
  TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
  color: #000;
  background: #FFF; }

/*
  TODO remove settings on BODY since we can't namespace it.
*/
/*
  TODO test putting a class on HEAD.
    - Fails on FF. 
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

/*
  TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

ol,
ul {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

q:before,
q:after {
  content: ''; }

abbr,
acronym {
  border: 0;
  font-variant: normal; }

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%; }

/*because legend doesn't inherit in IE */
legend {
  color: #000; }

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none; }

* {
  font-family: 'Hiragino Kaku Gothic ProN'; }

.form-control {
  border: 1px solid #AAA;
  border-radius: 5px;
  outline: none; }
  .form-control:focus {
    box-shadow: 0 0 0 1px #01E6FF; }

.account-page .account-page__inner {
  width: 980px;
  margin: 60px auto;
  padding: 60px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px; }
  .account-page .account-page__inner .account-page__inner--left, .account-page .account-page__inner .account-page__inner--right {
    float: left;
    width: 50%; }
  .account-page .account-page__inner:after {
    clear: both;
    content: "";
    display: block; }

.account-page .account-page__header h2 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 200; }
  .account-page .account-page__header h2:after {
    content: '';
    display: block;
    width: 60px;
    margin-top: 5px;
    border-bottom: 1px solid #38aef0; }

.account-page .account-page__header h5 {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200; }

.account-page .account-page__header .btn {
  margin-top: 20px;
  color: #fff;
  background-color: #ccc;
  font-size: 14px; }

.account-page .field {
  margin-bottom: 10px; }
  .account-page .field .field-label {
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 200; }
    .account-page .field .field-label i {
      font-size: 11px; }
  .account-page .field .field-input input {
    width: 100%;
    padding: 10px;
    letter-spacing: 1px; }

.account-page .btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px; }

.account-page input[type='submit'] {
  float: left;
  margin-top: 20px;
  color: #fff;
  background-color: #38aef0; }

.account-page .field-label .field_with_errors {
  display: inline-block;
  color: #d65f4c;
  font-weight: 400; }

.account-page .field-input .field_with_errors {
  position: relative; }
  .account-page .field-input .field_with_errors:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    background-color: #d65f4c; }

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px; }
  #error_explanation h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px; }
  #error_explanation ul {
    margin: 0;
    padding-left: 17px;
    list-style: square; }
  #error_explanation li {
    margin: 0;
    padding: 0;
    font-size: 13px; }

.alert {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #FFF; }
  .alert--notice {
    background-color: #38AEF0; }
  .alert--error {
    background-color: #D65F4C; }

.chat-side {
  display: inline-block;
  height: 100vh;
  width: 300px;
  background-color: #2F3E51;
  color: #FFF; }
  .chat-side .chat-user {
    height: 100px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #253141; }
    .chat-side .chat-user__name {
      display: inline-block;
      padding-top: 15px;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 2px; }
    .chat-side .chat-user__action {
      float: right;
      margin-left: 7px;
      padding-top: 15px;
      font-size: 20px;
      color: #FFF; }
  .chat-side .chat-groups {
    height: -moz-calc(100vh - 100px);
    height: -o-calc(100vh - 100px);
    height: -webkit-calc(100vh - 100px);
    height: calc(100vh - 100px);
    overflow: scroll; }
    .chat-side .chat-groups::-webkit-scrollbar {
      display: none; }
    .chat-side .chat-groups .chat-group {
      padding: 20px; }
      .chat-side .chat-groups .chat-group:hover {
        background-color: #384a62; }
      .chat-side .chat-groups .chat-group__link {
        text-decoration: none;
        color: #FFF; }
      .chat-side .chat-groups .chat-group__name {
        margin-bottom: 11px;
        font-size: 15px; }
      .chat-side .chat-groups .chat-group__message {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px; }

.chat-group-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  .chat-group-form h1 {
    letter-spacing: 2px;
    font-size: 24px;
    text-align: center; }
  .chat-group-form .chat-group-form__errors {
    margin: 30px 0;
    padding: 20px 40px;
    border: 1px solid #DDD;
    border-radius: 2px;
    text-align: center; }
    .chat-group-form .chat-group-form__errors h2 {
      margin-bottom: 10px;
      color: #F05050;
      font-size: 14px; }
    .chat-group-form .chat-group-form__errors ul {
      margin: 0;
      padding: 0;
      list-style: none; }
    .chat-group-form .chat-group-form__errors li {
      margin: 0;
      padding: 0;
      font-size: 13px; }
  .chat-group-form .chat-group-form__field {
    margin-top: 30px; }
    .chat-group-form .chat-group-form__field .chat-group-form__field--left {
      display: inline-block;
      width: 30%;
      padding-right: 20px;
      padding-left: 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
    .chat-group-form .chat-group-form__field .chat-group-form__field--right {
      float: right;
      width: 70%; }
    .chat-group-form .chat-group-form__field .chat-group-form__label {
      display: block;
      line-height: 50px;
      font-weight: bold;
      text-align: right; }
    .chat-group-form .chat-group-form__field .chat-group-form__input {
      float: left;
      width: 100%;
      line-height: 30px;
      padding: 10px 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
  .chat-group-form .chat-group-user {
    padding: 0 15px;
    line-height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #DDD; }
    .chat-group-form .chat-group-user .chat-group-user__btn {
      float: right;
      display: inline-block;
      cursor: pointer; }
      .chat-group-form .chat-group-user .chat-group-user__btn.chat-group-user__btn--add {
        color: #38AEF0; }
      .chat-group-form .chat-group-user .chat-group-user__btn.chat-group-user__btn--remove {
        color: #F05050; }
  .chat-group-form .chat-group-form__action-btn {
    display: inline-block;
    padding: 12px 20px;
    color: #FFF;
    background-color: #38AEF0;
    border: 0; }

.chat-main {
  display: inline-block;
  width: -moz-calc(100vw - 300px);
  width: -o-calc(100vw - 300px);
  width: -webkit-calc(100vw - 300px);
  width: calc(100vw - 300px);
  height: 100vh;
  float: right; }
  .chat-main__header {
    height: 100px;
    padding: 0 40px; }
    .chat-main__header__group-info {
      display: inline-block;
      margin-top: 35px; }
      .chat-main__header__group-info__name {
        letter-spacing: 2px;
        font-size: 20px;
        color: #333; }
      .chat-main__header__group-info__members, .chat-main__header__group-info__members a {
        margin-top: 8px;
        text-decoration: none;
        font-size: 13px;
        color: #999; }
    .chat-main__header__edit-button {
      display: inline-block;
      height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      float: right;
      border: 2px solid;
      line-height: 40px;
      font-size: 14px;
      text-decoration: none;
      color: #38AEF0; }
  .chat-main__body {
    height: -moz-calc(100vh - 100px - 90px);
    height: -o-calc(100vh - 100px - 90px);
    height: -webkit-calc(100vh - 100px - 90px);
    height: calc(100vh - 100px - 90px);
    border-top: 1px solid #EEE;
    overflow: scroll;
    background-color: #FAFAFA; }
    .chat-main__body::-webkit-scrollbar {
      display: none; }
    .chat-main__body .chat-messages {
      padding: 46px 40px; }
      .chat-main__body .chat-messages .chat-message {
        margin-bottom: 40px;
        color: #434A54; }
        .chat-main__body .chat-messages .chat-message__name {
          display: inline-block;
          font-size: 16px;
          font-weight: bold; }
        .chat-main__body .chat-messages .chat-message__date {
          display: inline-block;
          margin-left: 10px;
          font-size: 12px; }
        .chat-main__body .chat-messages .chat-message__body {
          margin: 10px 0 40px;
          font-size: 14px; }
        .chat-main__body .chat-messages .chat-message--color {
          color: #999; }
  .chat-main__footer {
    width: -moz-calc(100vw - 300px);
    width: -o-calc(100vw - 300px);
    width: -webkit-calc(100vw - 300px);
    width: calc(100vw - 300px);
    height: 90px;
    padding: 20px 40px;
    background-color: #DDD;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 0; }
    .chat-main__footer__form {
      width: -moz-calc(100% - 135px);
      width: -o-calc(100% - 135px);
      width: -webkit-calc(100% - 135px);
      width: calc(100% - 135px);
      height: 20px;
      padding: 15px 10px;
      resize: none;
      border: none;
      float: left; }
      .chat-main__footer__form__image {
        display: inline-block;
        height: 50px;
        position: relative;
        right: 30px;
        line-height: 50px; }
        .chat-main__footer__form__image--none {
          display: none; }
    .chat-main__footer__button {
      width: 100px;
      height: 50px;
      position: absolute;
      bottom: 20px;
      right: 40px;
      border: none;
      color: #FFF;
      background-color: #38AEF0; }
    .chat-main__footer__edit-button {
      display: inline-block;
      height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      float: right;
      border: 2px solid;
      line-height: 40px;
      font-size: 14px;
      text-decoration: none;
      color: #38AEF0; }

* {
  background-color: red; }
