.chat-side
  .chat-user
    %h5.chat-user__name user name
    %span.chat-user__actions
      %a.chat-user__action{ href: '#' }
        %i.fa.fa-cog{ aria: { hidden: true }}
      %a.chat-user__action{ href: '#' }
        %i.fa.fa-pencil-square-o{ area: { hidden: true }}

  .chat-groups
    %ul
      =# render @groups

