.chat-group-form
  %h1
    新規チャットグループ
  #new_chat_group.new_chat_group
    %form
      .chat-group-form__field
        .chat-group-form__field--left
          .chat-group-form__label
            %label{ for: "name" }グループ名
        .chat-group-form__field--right
          #chat_group_name
            %input{ type: "text", name: "name", placeholder: "グループ名を入力してください", required: true, id: "name", class: "chat-group-form__input form-control" }
      .chat-group-form__field
        .chat-group-form__field--left
          .chat-group-form__label
            %label{ for: "member" }チャットメンバーを追加
        .chat-group-form__field--right
          .chat-group-form__search
            %input{ type: "text", name: "member", placeholder: "追加したいユーザー名を入力してください", id: "member", class: "chat-group-form__input form-control" }
          #user-search-result

      .chat-group-form__field
        .chat-group-form__field--left
        .chat-group-form__field--right
          %input{ type: "submit", class: "chat-group-form__action-btn" }
