$font_white: #FFF;
$font_sky_blue: #38AEF0;
$font_gray: #999;
$font_light_black: #434A54;
$font_black: #333;

$bg_light_black: #253141;
$bg_black: #2F3E51;
$bg_gray: #FAFAFA;
$bg_light_white: #384a62;
$bg_light_blue: #38AEF0;
$bg_light_red: #D65F4C;

$button_light_blue: #38AEF0;
$footer_bg_gray: #DDD;
$border_color: #EEE;
